{% extends "master_template.html" %}


{% block content %}

<div class = "main-container">
	<div class = "posts-header">
	<h2>Project 3 Blog</h2>	

	</div>

{% for art in arts %}
	<div class="post">
		
		{% if art.created_by == username %}
		<div class="EditButton">
			<form method="get" action="/postedit/{{art.key().id()}}">
    			<button type="submit" class='buttonnewpost' id='buttonnewpost'>Edit</button>
			</form>
		</div>
		{% endif %}
		<div class ="post-content-container">
			<div class ="post-content-container-top">
				<div class="post-title">{{art.title}} |</div>
				<div class="post-user">{{art.created_by}}</div>
				<div class="post-id">{{art.key().id()}}</div>
			</div>
			<div class ="post-content-container-bottom">
				<div class="post-content">{{art.art}}</div>
			</div>
		</div>
		<hr>
	</div>
	<div class="add-comment">
		<p>Add a comment</p>
		<form method="post">
		<textarea name="comment" class="comment-add" columns='30'></textarea>
		<button type="submit" class='buttonnewpost' id='buttonnewpost'>Add Comment</button>
		</form>
	</div>
</div>
{% endfor %}




{% endblock %}